.JobDetail{
  display:flex;
  flex-direction: column;
  width:50rem;
  padding:1rem;
color:black;
  background-color: #ffc300;
margin:1rem;
}

.JobDetail-btn{
  border:none;
  color:black;
  background-color: #ffc300;
  font-weight: bold;
}
.JobDetail-btn :hover{
  font-weight: bolder;
}
@media (max-width:768px){
  .JobDetail{
    width:20rem;
    height:9rem;
  }
}